* {
  box-sizing: border-box;
  font-family: Dotum, '돋움', Helvetica, 'Apple SD Gothic Neo', sans-serif;
}

body {
  margin: 0 20px 20px;
}

*:disabled {
  cursor: not-allowed !important;
}

button {
  &:focus {
    outline: 0;
  }
}

.main-body {
  width: 100%;
  margin: 0 auto;

  ul.main-tabs {
    list-style: none;
    padding: 0;
    margin: 0 auto 30px;
    width: 500px;

    li {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      padding: 20px 0;
      width: 250px;
      text-align: center;
      border-bottom: 2px solid transparent;

      &.active {
        border-bottom: 2px solid #89cdcf;
      }
    }
  }

  @media (max-width: 767px) {
    ul.main-tabs {
      width: 100%;

      li {
        width: 50%;
      }
    }
  }
}

.hidden {
  display: none;
}
